<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Custodian Login</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

<script> 
function VALIDATE()                                    
{ 
    
    var staffno = document.forms["CustoLoginForm"]["staffno"];  
    var password = document.forms["CustoLoginForm"]["password"];  
     
   
    
    if (staffno.value == "")                           
    { 
        window.alert("Please enter your staff number."); 
        staffno.focus(); 
        return false; 
    } 
   
    if (password.value == "")                        
    { 
        window.alert("Please enter your password."); 
        password.focus(); 
        return false; 
    } 
   
   
    return true; 
}
</script> 
</head>
<body class="bg-success">
<div class="container">
<div class="row">
<div class="col-md-offset-3 col-md-3">
<br>
<form name="CustoLoginForm" action="/custologin"  method="post" enctype="form-data"
onsubmit="return VALIDATE()">


<div class="form-group">
<label for="myStaffno">STAFFNO</label>
<input class="form-control" id="myStaffno" placeholder="Staffno" type="text" name="staffno">
</div>


<div class="form-group">
<label for="myPassword">PASSWORD</label>
<input class="form-control" id="myPassword" placeholder="Password" type="password" name="password">
</div>
<button type="submit" class="btn btn-default">LOGIN</button>
</form>
<a href="/custoregistration">New? Sign in Here</a>
</div>
</div>
</div>
<script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>